<!Doctype html>
<html>
	<head>
		<title>Angular Filters</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body ng-app="myApp">
		<div ng-controller="FirstCtrl"> 
			<input type="text" ng-model="data.message"></input>
			<h2>{{ data.message }}</h2>
		</div>

		<div ng-controller="SecondCtrl"> 
			<input type="text" ng-model="data.message"></input>
			<h2>{{ data.message | reverse }}</h2>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>