<!Doctype html>
<html>
	<head>
		<title>$index $event $log</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">
	</head>
	<body>
		
		<div ng-app="app">
			<!-- ng-click="ev = $event" -->
			<div class="button" 
			ng-repeat="item in 'smudger'.split('')"
			ng-click="$log.debug($event)"
			>
				{{ $index }}. {{ item }}
				<!-- $index is a way to show which iteration of a loop you’re in -->
				{{ ev.pageX }}
				<!-- we can access the event that’s happening through $event -->
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>

